<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="flexbox1.css">
    </head>
    <body>
        <div class="b1">
            <table>
                <ol>
                    <li>Kitty</li>
                    <li>Doggy</li>
                    <li>Piggy</li>
                </ol>
                 
            </table>
        </div>
        <div class="b2">
            <p>You are not cute !</p>
        </div>
        <div class="flex-container">
            <div class="box box1">  One..</div>
            <div class="box box2">  Two..</div>
            <div class="box box3">  Three..</div>
            <div class="box box4">  Four..</div>
            <div class="box box5">  Five..</div>
            <div class="box box6">  Six..</div>
            <div class="box box7">  Seven..</div>
        </div>
        <div class="container">
            <img class="icon" src="icon.png" alt="Sample image" style="height:20px; width:20px">
            <input class="searchBox" type="search" name="search" placeholder="Looking for something?">
            <button type="submit" value="search" class="searchButton">Search</button>
        </div>
        <div>
            <button type="submit" name="mango" class="bhutubutton">searching for mango?</button>
        </div>
    </body>
</html>