<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="flexchart.css">
    </head>
    <body>
        <div class="row">
            <div class="label"> Preferred dishes </div>
            <div class="container">
                <div class="dishes pizza" style="flex-basis: 35%;">35%</div>
                <div class="dishes pasta" style="flex-basis: 50%;">50%</div>
                <div class="dishes burrito" >15%</div>
            </div>
        </div>
    </body>
</html>